 <!doctype html>
 <html lang="fr">
 <body>
    <table>
        <thead>
            <td>Température extérieur</td>
            <td>Pression extérieur</td>
            <td>Température interieur</td>
            <td>Humidité intérieur</td>
            <td></td>
        </thead>
        <tr>
            <td>{{outdoor.temp}}</td>
            <td>{{outdoor.pressure}}</td>
            <td>{{temperature}}</td>
            <td>{{humidity}}</td>
            {% if actuator == True or actuator == None %}
            <td><a href="/deactivate">Désactiver le ventilateur</a></td>
            {% endif %}
            {% if  not actuator %}
            <td><a href="/activate">Activer le ventilateur</a></td>
            {% endif %}
        </tr>
        <tr>
        </tr>
    </table>

 </body>
 </html>
