 <!doctype html>
 <html lang="fr">
 <body>
    <table>
        <thead>
            <td>Température extérieur</td>
            <td>Pression extérieur</td>
            <td>Température interieur</td>
            <td></td>
        </thead>
        <tr>
            <td>{{data.temp}}</td>
            <td>{{data.pressure}}</td>
            <td>{{data.indoor_temp}}</td>
            {% if actuator_state == True %}
            <td><a href="/deactivate">Désactiver le ventilateur</a></td>
            {% else %}
            <td><a href="/activate">Activer le ventilateur</a></td>
            {% endif %}
        </tr>
        <tr>
        </tr>
    </table>

 </body>
 </html>
